<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${environment:PracticeSharpLogFolder}"/>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/Practice#.log" deleteOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="logfile" />
  </rules>
</nlog>