<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${environment:PracticeSharpLogFolder}"/>
  
  <targets>
    <target name="logfileReg" xsi:type="File" fileName="${logDirectory}/Practice#.log" deleteOldFileOnStartup="true" layout="${date} ${level} ${threadname} ${message}"/>
    <target name="logfileError" xsi:type="File" fileName="${logDirectory}/Practice#.log" layout="${date} ${level} ${threadname} Exception Details:${exception:Format=ToString}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="logfileReg" />
    <logger name="*" minLevel="Error" writeTo="logfileError" />
  </rules>
</nlog>