<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NAudio.Flac" version="1.0.5702.29018" targetFramework="net45" />
  <package id="NAudio.Wma" version="1.0.1" targetFramework="net35" />
  <package id="NLog" version="4.7.5" targetFramework="net461" />
</packages>