<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
<!-- Practice Sharp
 
    © Copyright 2010, Yuval Naveh.
     All rights reserved.
 
    This file is part of Practice Sharp.

    Practice Sharp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Practice Sharp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser Public License for more details.

    You should have received a copy of the GNU Lesser Public License
    along with Practice Sharp.  If not, see <http://www.gnu.org/licenses/>.
-->
	
	
  <!-- New version steps:
	1. Modify RTMProductVersion to last version
	2. Modify ProductVersion to new version
	3. Modify ProductName to contain new version
	4. Modify ProductCode value (new GUID)
  -->
  <?define RTMProductVersion="1.4.1" ?>
  <?define ProductVersion="1.4.5" ?>
  <?define ProductName="Practice# 1.4.5" ?>
  <?define ProductTitle="Practice#" ?>
  <?define UpgradeCode="{698FDA6C-C8E8-4C2B-8705-28A99B39E171}"?>
  <?define Manufacturer="Yuval Naveh" ?>
  <?define ProductCode="{399BCBB0-FB5A-4421-ADA3-CB71B8FF8087}"?>
  <!-- 1.4.1 ProductCode="{25DCD3FE-0A9E-4AF4-90EC-9AA7A7632E1E}" -->
  <!-- 1.3.0 ProductCode="{0C948700-3197-4DD6-819C-374AC67EDC87}" -->
  <!-- 1.2.0 ProductCode="{6ECEC93F-114B-4C46-8F40-CA39EC618CDA}" -->
		
  <Product Name='$(var.ProductName)' Id='$(var.ProductCode)' UpgradeCode='$(var.UpgradeCode)'
    Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='$(var.Manufacturer)'>
	
    <Package Id='*' Keywords='Installer' Description="$(var.ProductName) Installer"
      Comments='$(var.ProductName), Copyright 2010 $(var.Manufacturer) LGPL.' Manufacturer='$(var.Manufacturer)'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

	<Upgrade Id="$(var.UpgradeCode)">
		<UpgradeVersion Minimum="$(var.ProductVersion)"
					  IncludeMinimum="no"
					  OnlyDetect="yes"
					  Language="1033"
					  Property="NEWPRODUCTFOUND" />
		<UpgradeVersion Minimum="$(var.RTMProductVersion)"
					  IncludeMinimum="yes"
					  Maximum="$(var.ProductVersion)"
					  IncludeMaximum="no"
					  Language="1033"
					  Property="UPGRADEFOUND" />
	</Upgrade>
	
	<Condition Message='Windows 95 is not supported'>NOT Version9X = 400</Condition>
	<Condition Message='Windows 95 is not supported'>NOT (Version9X = 400 AND WindowsBuild = 1111)</Condition>
	<Condition Message='Windows 98 is not supported'>NOT Version9X = 410</Condition>
	<Condition Message='Windows 98 SE is not supported'>NOT (Version9X = 410 AND WindowsBuild = 2222)</Condition>
	<Condition Message='Windows ME is not supported'>NOT Version9X = 490</Condition>
	<Condition Message='Windows NT4 is not supported'>NOT VersionNT = 400</Condition>
	<Condition Message='Windows 2000 is not supported'>NOT VersionNT = 500</Condition>	
	
    <Media Id='1' Cabinet='PracticeSharp.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="$(var.ProductTitle) Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
         <Directory Id='INSTALLDIR' Name='$(var.ProductTitle)'>

            <Component Id='MainExecutable' Guid='487E7825-4A47-498A-A4E5-A117AE3B3BEA'>
              <File Id='PracticeSharpEXE' Name='PracticeSharp.exe' DiskId='1' Source='Source\PracticeSharp.exe' KeyPath='yes'>
                <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir" Name="$(var.ProductTitle)" WorkingDirectory='INSTALLDIR' Icon="PracticeSharp.exe" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="$(var.ProductTitle)" WorkingDirectory='INSTALLDIR' Icon="PracticeSharp.exe" IconIndex="0" Advertise="yes" />
              </File>
            </Component>

            <Component Id='PracticeSharpConfiguration' Guid='F71657CD-9018-449C-ABE4-73CF15D0CBCB'>
              <File Id='PracticeSharpConfigFile' Name='PracticeSharp.exe.config' DiskId='1' Source='Source\PracticeSharp.exe.config' KeyPath='yes' />
            </Component>

            <Component Id='NAudioLibrary' Guid='BC45A422-81EC-4C4B-93F9-D7F9E0AB815D'>
              <File Id='NAudioDLL' Name='NAudio.dll' DiskId='1' Source='Source\NAudio.dll' KeyPath='yes' />
            </Component>

            <Component Id='NAudioWMFLibrary' Guid='F763CF13-08C8-42D5-851C-8B9EBF884790'>
              <File Id='NAudioWMFDLL' Name='NAudio.WindowsMediaFormat.dll' DiskId='1' Source='Source\NAudio.WindowsMediaFormat.dll' KeyPath='yes' />
            </Component>

            <Component Id='NAudioOggLibrary' Guid='5DDD7580-0C86-4D16-8348-7776AD935721'>
              <File Id='NAudioOggDLL' Name='NAudioOggVorbis.dll' DiskId='1' Source='Source\NAudioOggVorbis.dll' KeyPath='yes' />
            </Component>

			<Component Id='LibFlacLibrary' Guid='7ACDE783-51A0-41B3-B495-46ACFF813911'>
              <File Id='LibFlacDLL' Name='libFlac.dll' DiskId='1' Source='Source\libFlac.dll' KeyPath='yes' />
            </Component>

			<Component Id='NAudioFLACLibrary' Guid='E8A95406-75A0-4778-97BD-3E69BDAE22C3'>
              <File Id='NAudioFLAC' Name='NAudioFLAC.dll' DiskId='1' Source='Source\NAudioFLAC.dll' KeyPath='yes' />
            </Component>

            <Component Id='SoundTouchLibrary' Guid='391DC820-C466-40D1-9279-53AE27B38A1F'>
              <File Id='SoundTouchDLL' Name='SoundTouch.dll' DiskId='1' Source='Source\SoundTouch.dll' KeyPath='yes' />
            </Component>

			<Component Id='PracticeSharpLICENSES' Guid='B67C5B58-8174-4680-8C2A-9112A980B1CA'>
              <File Id='LICENSES' Name='LICENSES.txt' DiskId='1' Source='Source\LICENSES.txt' KeyPath='yes' />
            </Component>

			<Component Id='NLogLibrary' Guid='6FC0DCA8-EB41-4888-AA13-1DA780C10AE0'>
              <File Id='NLogDLL' Name='NLog.dll' DiskId='1' Source='Source\NLog.dll' KeyPath='yes' />
            </Component>

			<Component Id='NLogConfiguration' Guid='665C69AE-42C0-4069-95D1-B5154301F0DC'>
              <File Id='NLogConfigFile' Name='NLog.config' DiskId='1' Source='Source\NLog.config' KeyPath='yes' />
            </Component>

		</Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Practice#">
          <Component Id="ProgramMenuDir" Guid="E103842D-C11C-4A1E-B0E9-C91E58956958">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\$(var.ProductTitle)' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
	
	<Feature Id='Complete' Title='Practice#' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program Files' Description='The binaries.' Level='1' Absent="disallow">
        <ComponentRef Id='MainExecutable' />
		<ComponentRef Id='PracticeSharpConfiguration' />
		<ComponentRef Id='NAudioLibrary' />
		<ComponentRef Id='NAudioWMFLibrary' />
		<ComponentRef Id='NAudioOggLibrary' />
		<ComponentRef Id='LibFlacLibrary' />
		<ComponentRef Id='NAudioFLACLibrary' />
		<ComponentRef Id='SoundTouchLibrary' />
		<ComponentRef Id='PracticeSharpLICENSES' />
		<ComponentRef Id='NLogLibrary' />
		<ComponentRef Id='NLogConfiguration' />
		<ComponentRef Id='ProgramMenuDir' />
      </Feature>

	  <!-- 
      <Feature Id='Documentation' Title='Description' Description='The instruction manual.' Level='1000'>
        <ComponentRef Id='Manual' />
      </Feature> -->
    </Feature>
  
    <!-- Prevent downgrading -->
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
	
	  <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
   
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
	
	<WixVariable Id="WixUILicenseRtf" Value="Resources\PracticeSharp_License.rtf" />  
	<WixVariable Id="WixUIBannerBmp" Value="Resources\WizardBanner.bmp" />  
	<WixVariable Id="WixUIDialogBmp" Value="Resources\WizardSideBar.bmp" />  
  
	<UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="PracticeSharp.exe" SourceFile="Source\PracticeSharp.exe" />
  </Product>
</Wix>